<ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


    <div id="container"> 	
      <div *ngIf="test">
          <div class="profile-picture big-profile-picture">
          <img src="{{test.picture}}">
        </div>
          <h2 class="profile-name dark">{{test.username}}</h2>
          <div class="profile-info">{{test.email}}</div>
         </div>
    </div>

    <div>
      <p>Your Count Step is:0</p>
      <label>Please walk 50 step! enable facebook friends</label>
      <ion-button ion-button disabled (click)="truthClick()">Click here fb friend</ion-button>
    </div>

  

</ion-content>
